<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--
			 Please adjust the connection string embedded in the elements below to target the proper catalog / server using the proper user / password combination
			 If you use a differently named adventure works database, be sure to change the initial catalog descriptions in the connection strings below.
		-->
		<add name="Scott.ConnectionString.Oracle (Oracle.ManagedDataAccess.Client)" connectionString="data source=oravirtualnerd;user id=SCOTT;password=TIGER;persist security info=false;" providerName="Oracle.ManagedDataAccess.Client"/>
		<add name="Scott.ConnectionString.Oracle (Oracle.DataAccess.Client)" connectionString="data source=oravirtualnerd;user id=SCOTT;password=TIGER;persist security info=false;" providerName="Oracle.DataAccess.Client"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
