<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--
			 Please adjust the connection string embedded in the element below to target the proper catalog / server using the proper user / password combination
			 If you use a differently named adventure works database, be sure to change the initial catalog descriptions in the connection strings below.
		-->
		<add name="Scott.ConnectionString.Oracle (ODP.NET)" connectionString="user id=SCOTT;password=TIGER;data source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.168.10.7)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=SAND7)));"
			  providerName="Oracle.ManagedDataAccess.Client"/>
	</connectionStrings>
</configuration>