<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--
			 Please adjust the connection string embedded in the element below to target the proper catalog / server using the proper user / password combination
			 If you use a differently named adventure works database, be sure to change the initial catalog descriptions in the connection strings below.
		-->
    <add name="ReadWriteTests.ConnectionString.SQLite" connectionString="Data Source=C:\Users\frans\Documents\ChinookDatabase1.4_Sqlite\Chinook_Sqlite_AutoIncrementPKs.sqlite;Version=3;" providerName="System.Data.SQLite"/>
  </connectionStrings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="System.Data.SQLite"/>
			<add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite, Version=1.0.98.0, Culture=neutral, PublicKeyToken=db937bc2d44ff139"/>
		</DbProviderFactories>
	</system.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
