<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="SD.Tools.Algorithmia" version="1.1.0" targetFramework="net45" />
  <package id="SD.Tools.BCLExtensions" version="1.0.0" targetFramework="net45" />
  <package id="SD.Tools.OrmProfiler.Interceptor.NET45" version="1.5.20150715" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.98.1" targetFramework="net45" requireReinstallation="true" />
</packages>