<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--
			 Please adjust the connection string embedded in the element below to target the proper catalog / server using the proper user / password combination
			 If you use a differently named adventure works database, be sure to change the initial catalog descriptions in the connection strings below.
		-->
		<add name="Northwind.ConnectionString.PostgreSql (Npgsql)" connectionString="Database=Northwind;Server=windows2008r2.sd.local;Port=5432;User Id=postgres;Password=123;" providerName="Npgsql"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
