<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Sakila.ConnectionString.Oracle (MySql.Data.MySqlClient)" connectionString="data source=localhost;initial catalog=Sakila;user id=Massive;password=mt123;persist security info=false;"  providerName="MySql.Data.MySqlClient"/>
		<add name="MassiveWriteTests.ConnectionString.Oracle (MySql.Data.MySqlClient)" connectionString="data source=localhost;initial catalog=MassiveWriteTests;user id=Massive;password=mt123;persist security info=false;"  providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>