<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Sakila.ConnectionString.Oracle (TO DO)" connectionString="data source=localhost;initial catalog=Sakila;user id=Massive;password=MassiveTest;persist security info=false;"  providerName="MySql"/>
		<add name="MassiveWriteTests.ConnectionString.Oracle (TO DO)" connectionString="data source=localhost;user id=Massive;initial catalog=MassiveWriteTests;password=MassiveTest;persist security info=false;"  providerName="MySql"/>
	</connectionStrings>
</configuration>