<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- Important: attempts to execute stored procedures against the database fail unless the database name is all lower case (affects Oracle/MySQL driver but not Devart driver) -->
		<add name="Sakila.ConnectionString.MySql (MySql.Data.MySqlClient)" connectionString="data source=localhost;database=sakila;user id=Massive;password=mt123;persist security info=false;" providerName="MySql.Data.MySqlClient"/>
		<add name="MassiveWriteTests.ConnectionString.MySql (MySql.Data.MySqlClient)" connectionString="data source=localhost;database=massivewritetests;user id=Massive;password=mt123;persist security info=false;" providerName="MySql.Data.MySqlClient"/>
		
		<add name="Sakila.ConnectionString.MySql (Devart.Data.MySql)" connectionString="data source=localhost;database=Sakila;user id=Massive;password=mt123;persist security info=false;" providerName="Devart.Data.MySql"/>
		<add name="MassiveWriteTests.ConnectionString.MySql (Devart.Data.MySql)" connectionString="data source=localhost;database=MassiveWriteTests;user id=Massive;password=mt123;persist security info=false;" providerName="Devart.Data.MySql"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
